.blink_me {
  animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

#video {
  opacity: 0;
}

#visualizer {
  width: 100%;
  height: 100%;
  z-index: -1;
}

#booth {
  background-color: #c0c0c0;
  width: 350px;
  text-align: center;
  z-index: 1;
  margin: 10% auto;
  margin-bottom: 0;
  border: 2px solid black;
}

#sign {
  width: 40%;
  border: 2px solid black;
  background-color: red;
  display: inline-block;
  margin: 1%;
}

#window {
  width: 299px;
  height: 168px;
  margin: 0px;
  display: inline-block;
}

#frame {
  display: inline-block;
  width: fit-content;
  border: 3px;
  border-style: groove;
}

#booth-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

#playlist-cont {}

.speaker {
  border: 1px solid black;
  background-color: #585858;
  height: fit-content;
  margin: 1%;
}

.playlist {
  padding: 0;
  margin: 0;
  font-size: .8em;
  list-style: none;
  text-align: left;
}

#social-shortcuts {
  width: 350px;
  text-align: center;
  z-index: 2;
  margin: 10% auto;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2px;
}
